/* CSS for website */

h4 {
  font-family: roboto, sans-serif;
  font-size: 10px;
}

p {
  font-family: roboto,sans-serif;
}

hr {
  border-color: #000;
  border-width: 2px;
}

a href {
color:#A686DA;
}

.markdown-section table  {
  width:100%;
}

.markdown-section table thead {
  border:none;
  display:none;
}

.markdown-section table td {
  border:none;
  padding:0;
}

.markdown-section table tr {
  border:none;
}

.markdown-section table td, .markdown-section table th {
  border:none;
}