/* CSS for website */

h1 {
  font-family: roboto, sans-serif;
  font-size: 3em;
}

h2 {
  font-family: roboto, sans-serif;
  font-size: 1em;
}

table {
  border-style:none;
}

p {
  font-family: roboto,sans-serif;
}

hr {
  border-color: #F5F5F5;
  border-width: 20px;
}

