/* CSS for website */



h4 {
  font-family: roboto, sans-serif;
  font-size: 3em;
}

table {
  border-style:none;
  border-color:#000;
}

p {
  font-family: roboto,sans-serif;
}

hr {
  border-color: #000;
  border-width: 2px;
}

